TWITCH_CLIENT_ID=ferm86dhad58mpx4by0wcswyazheud
TWITCH_CLIENT_SECRET=
# For Twitch CLI testing, change the EventSub URL above to ws://localhost:8080/ws.
# TWITCH_EVENTSUB_URL=wss://eventsub.wss.twitch.tv/ws
# Set this URL to switch between Twitch live EventSub and the local CLI mock.
TWITCH_EVENTSUB_URL=ws://localhost:8080/ws
TWITCH_HELIX_URL=https://api.twitch.tv/helix
TWITCH_REDIRECT_URI=http://127.0.0.1:4300/api/auth/twitch/callback
TWITCH_FRONTEND_ORIGIN=http://localhost:4200
TWITCH_RUNTIME_HOST=127.0.0.1
TWITCH_RUNTIME_PORT=4300
TWITCH_FRONTEND_HOST=127.0.0.1
TWITCH_FRONTEND_PORT=4200
TWITCH_RUNTIME_DATA_DIR=./data
DISCORD_STREAM_WEBHOOK_URL=
