<div class="monitor flex-col">
  <header class="stream-header flex align-center justify-space-between">
    <div class="stream-status flex flex-row align-center">
      @if ((streamState$ | async) === "online") {
        <span class="status-dot online"></span>
        <span>LIVE</span>
      } @else {
        <span class="status-dot offline"></span>
        <span>OFFLINE</span>
      }
    </div>
    <!-- Additional stream info can go here -->
  </header>

  <main class="monitor-content flex-row">
    <section class="card-no-hover card flex-1 flex-col">
      <div class="alerts">
        @for (alert of alerts$ | async; track alert.id) {
          <div class="alert">
            @switch (alert.type) {
              @case ("follow") {
                <strong>New Follow</strong>

                <span>
                  {{ alert.data.displayName }}
                </span>
              }

              @case ("subscription") {
                <strong>New Subscription</strong>

                <span>
                  {{ alert.data.displayName }}
                  · Tier {{ alert.data.tier }}
                </span>
              }

              @case ("gift-subscription") {
                <strong>Gift Subs</strong>

                <span>
                  {{ alert.data.displayName }}
                  · {{ alert.data.total }}
                </span>
              }

              @case ("bits") {
                <strong>Bits</strong>

                <span>
                  {{ alert.data.displayName }}
                  · {{ alert.data.bits }} Bits
                </span>
              }

              @case ("raid") {
                <strong>Raid</strong>

                <span>
                  {{ alert.data.displayName }}
                  · {{ alert.data.viewers }} viewers
                </span>
              }

              @case ("redemption") {
                <strong>
                  {{ alert.data.rewardTitle }}
                </strong>

                <span>
                  {{ alert.data.displayName }}
                </span>
              }
            }
          </div>
        }
      </div>
    </section>
    <section class="card-no-hover card flex-1 flex-col">
      <div class="chat">
        @for (message of messages$ | async; track message.id) {
          <div class="chat-message">
            <strong>
              {{ message.displayName }}
            </strong>

            <span>
              {{ message.message }}
            </span>
          </div>
        }
      </div>
    </section>
  </main>
</div>
